
/*I. Attribuer des couleurs aux différentes parties de la page HTML*/

/*II. Centrer tous les éléments*/

/*II.a.centrer le tableau*/

/*II.b.Centrer le formulaire*/

/*III. La barre de navigation*/

/*IV. Image*/

/*V. Compétences*/